[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/artifaqiq
[access "refs/for/refs/*"]
	read = group user/artifaqiq
	push = group user/artifaqiq
	label-Code-Review = -2..+2 group user/artifaqiq
	label-Verified = -1..+1 group user/artifaqiq
	rebase = group user/artifaqiq
	removeReviewer = group user/artifaqiq
	submit = group user/artifaqiq
[access "refs/heads/*"]
	read = group user/artifaqiq
	create = group user/artifaqiq
	push = +force group user/artifaqiq
	pushMerge = group user/artifaqiq
[access "refs/tags/*"]
	push = +force group user/artifaqiq
	pushTag = group user/artifaqiq
	pushSignedTag = group user/artifaqiq
